@* @model RegisterDto

<div class="text-center my-3">
    <h6 class="display-6">
        <i class="fa-solid fa-user-plus text-white-50 bg-secondary p-3 rounded-circle"></i>
        <br />
        Register
    </h6>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="text-danger" asp-validation-summary="None"></div>

        <form method="post" asp-action="Register">

            <div class="form-group my-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group my-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group my-3">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="form-group my-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-user-plus"></i>
                    Register
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div> *@

@model RegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Sayfası</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/style2.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/js/site.js" />
    <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    
    <div class="text-center my-3">
        <h6 class="display-6">
            <i class="fa-solid fa-user-plus text-white-50 bg-secondary p-3 rounded-circle"></i>
            <br />
            Register
        </h6>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">

            <div class="text-danger" asp-validation-summary="None"></div>

            <form method="post" asp-action="Register">

                <div class="form-group my-3">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group my-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>

                <div class="form-group my-3">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
                <div class="form-group my-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-user-plus"></i>
                        Register
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
    <script asp-append-version="true" src="~/lib/jquery/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="~/js/site.js"></script>
    <script asp-append-version="true" src="~/lib/font-awesome/js/all.min.js"></script>   
 
</body>
</html>