<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Hammadde</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("HammaddeMiktari")
                </h3>
                <a asp-controller="Hammadde" asp-action="Index" class="card-link text-white">Hammaddeler</a>
                <a asp-controller="Hammadde" asp-action="Create" class="card-link text-white">Yeni Hammadde</a>

            </div>
    </div>
    </div>
        <div class="col-md-3">
            <div class="card bg-primary text-white" style="width: 18rem;">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2">Number of</h6>
                    <h5 class="card-title">Kategori</h5>
                    <h3 class="text-center display-3">
                        @await Component.InvokeAsync("KategoriOzeti")
                    </h3>
                    <a asp-controller="Kategori" asp-action="Index" class="card-link text-white">Kategoriler</a>
                    <a asp-controller="Kategori" asp-action="Create" class="card-link text-white">Yeni Kategorit</a>

                </div>
            </div>
    </div>
            <div class="col-md-3">
                <div class="card bg-primary text-white" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle mb-2">Number of</h6>
                        <h5 class="card-title">Tamamlanmamış Siparişler</h5>
                        <h3 class="text-center display-3">
                            @await Component.InvokeAsync("OrderInProgress")
                        </h3>
                        <a asp-controller="Siparis" asp-action="Index" class="card-link text-white">Siparişler</a>

                    </div>
                </div>
</div>
    <div class="col-md-3">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Hammadde</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("UserSummary")
                </h3>
                <a asp-controller="User" asp-action="Index" class="card-link text-white">Kullanıcılar</a>
                <a asp-controller="User" asp-action="Create" class="card-link text-white">Kullanıcı oluştur</a>

            </div>
        </div>
    </div>
</div>