@model IQueryable<Urun>

@section Footer {
    <div>
        Only for Index footer
    </div>
}

<div class="row">
    @foreach (Urun hmd in Model)
    {
        <partial name="_UrunCard" model="hmd" />
    }
</div> 